#hero {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .mySwiper {
  width: 95%;
  border-radius: 20px;
}
#hero .mySwiper .swiper-slide {
  width: 100%;
}

#hero .mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--primary-color) !important;
}

@media (min-width: 320px) {
  #hero .swiper-button-prev,
  #hero .swiper-button-next {
    display: none !important;
  }
  #hero .mySwiper .swiper-slide {
    height: 20dvh;
  }
}
@media (min-width: 375px) {
  #hero .mySwiper .swiper-slide {
    height: 25dvh;
  }
}
@media (min-width: 425px) {
  #hero .mySwiper .swiper-slide {
    height: 30dvh;
  }
}
@media (min-width: 768px) {
  #hero .swiper-button-next {
    right: 30px;
  }
  #hero .swiper-button-prev {
    left: 30px;
  }
  #hero .swiper-pagination {
    bottom: 20px !important;
  }
  #hero .swiper-button-prev,
  #hero .swiper-button-next {
    display: block !important;
    color: var(--primary-color) !important;
  }

  #hero .mySwiper .swiper-slide {
    height: 45dvh;
  }
}
@media (min-width: 1024px) {
  #hero .mySwiper .swiper-slide {
    height: 75dvh;
  }
  #hero .swiper-button-next {
    right: 45px;
  }
  #hero .swiper-button-prev {
    left: 45px;
  }
  #hero .swiper-pagination {
    bottom: 35px !important;
  }
}
@media (min-width: 1440px) {
}
