#hero {
  direction: ltr;
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .mySwiper {
  width: 95%;
  border-radius: 20px;
}
#hero .mySwiper .swiper-slide {
  width: 100%;
}

#hero .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: fill;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--primary-color) !important;
}

@media (min-width: 320px) {
  #hero {
    margin-bottom: 2em;
  }
  #hero .swiper-button-prev,
  #hero .swiper-button-next {
    display: none !important;
  }
  #hero .mySwiper .swiper-slide,
  #hero {
    min-height: 20dvh;
    max-height: 20dvh;
  }
}
@media (min-width: 375px) {
  #hero .mySwiper .swiper-slide,
  #hero,
  #hero .mySwiper .swiper-slide img {
    min-height: 25dvh;
    max-height: 25dvh;
  }
}
@media (min-width: 425px) {
  #hero .mySwiper .swiper-slide,
  #hero,
  #hero .mySwiper .swiper-slide img {
    min-height: 30dvh;
    max-height: 30dvh;
  }
}
@media (min-width: 768px) {
  #hero {
    margin-bottom: 0;
  }
  #hero .swiper-button-next {
    right: 30px;
  }
  #hero .swiper-button-prev {
    left: 30px;
  }

  #hero .swiper-pagination {
    bottom: 20px !important;
  }
  #hero .swiper-button-prev,
  #hero .swiper-button-next {
    display: block !important;
    color: var(--primary-color) !important;
  }

  #hero .mySwiper .swiper-slide,
  #hero,
  #hero .mySwiper .swiper-slide img {
    min-height: 45dvh;
    max-height: 45dvh;
  }
}
@media (min-width: 1024px) {
  #hero {
    margin-bottom: 4em;
  }
  #hero .mySwiper .swiper-slide,
  #hero,
  #hero .mySwiper .swiper-slide img {
    min-height: 50dvh;
    max-height: 78dvh;
  }
}

@media (min-width: 1440px) {
  #hero .mySwiper .swiper-slide,
  #hero,
  #hero .mySwiper .swiper-slide img {
    min-height: 75dvh;
    max-height: 76dvh;
  }
}
