.custom-shape-divider-bottom-1749693086 {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1749693086 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 89px;
}

.custom-shape-divider-bottom-1749693086 .shape-fill {
  fill: white;
}

@media (min-width: 320px) {
  #products {
    overflow: hidden;
  }

  .pipeline-section {
    width: 100%;
  }

  .pipeline-section h3 {
    color: rgb(134, 134, 134);
    margin: 1em 0;
  }
  .pipeline-section h1 {
    color: white;
  }
  .pipeline-container {
    background: linear-gradient(to bottom, var(--base-color));
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5em 0 7em;
  }

  .pipeline-container .mainContainer {
    width: 90%;
  }

  .pipeline-title {
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .pipeline-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 0%,
      transparent 40%
    );
    z-index: -1;
    pointer-events: none;
  }

  .pipeline-description {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px;
    color: rgba(255, 255, 255, 0.7);
  }

  .pipeline-main {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .pipeline-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: white;
    color: #111;
    border-radius: 12px;
    padding: 24px;
    flex: 3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }

  .pipeline-card h2 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--primary-color);
  }
  .pipeline-card ul {
    list-style: none;
  }
  .pipeline-card ul li {
    font-size: 0.8em;
  }
  .pipeline-card p {
    font-size: 0.7rem;
    margin: 0.5em 0;
    color: #6e6e6e;
  }

  .circle-bg {
    position: absolute;
    bottom: -80px;
    left: -80px;
    width: 200px;
    height: 200px;
    background-color: #cbd5e1;
    border-radius: 50%;
    opacity: 0.2;
    z-index: 1;
  }

  .pipeline-tabs-container {
    width: 90%;
    flex: 2;
    position: relative;
  }

  .hr-wrapper {
    position: relative;
    height: 2px;
    margin-bottom: 16px;
  }

  .pipeline-hr {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
  }
  html[dir="ltr"] .pipeline-hr-highlight {
    left: 0;
  }
  html[dir="rtl"] .pipeline-hr-highlight {
    right: 0;
  }
  .pipeline-hr-highlight {
    position: absolute;
    top: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.4s ease;
  }

  .pipeline-tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .pipeline-tab {
    width: 100%;
    padding: 8px 12px;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border: none;
    background-color: transparent;
  }
  html[dir="ltr"] .pipeline-tab {
    text-align: left;
  }
  html[dir="rtl"] .pipeline-tab {
    text-align: right;
  }
  .pipeline-tab:hover,
  .pipeline-tab.active {
    color: white;
  }

  .pipeline-tab.active {
    font-weight: 500;
  }

  html[dir="ltr"] .pipeline-tab.active::before {
    left: 0;
  }
  html[dir="rtl"] .pipeline-tab.active::before {
    right: 0;
  }
  .pipeline-tab.active::before {
    content: "";
    position: absolute;

    top: 4px;
    bottom: 4px;
    width: 2px;
    background-color: var(--primary-color);
    border-radius: 2px;
  }

  #products .implementHolder {
    width: 100%;
    margin: 6em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #products .contentHolder,
  #products .imgHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  #products .contentHolder {
    text-align: center;
  }

  #products .contentHolder h2 {
    font-size: 1.2em;
    color: var(--primary-color);
  }

  #products .contentHolder p {
    font-size: 0.9em;
    color: grey;
    margin: 1em 0 0 0;
  }

  /* 3D Carousel Styles */
  .carousel {
    position: relative;
    width: 100%;
    height: 200px;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel figure {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 50s linear infinite;
  }

  .carousel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transition: transform 0.5s ease-in-out;
    width: clamp(80px, 15vw, 140px);
    height: clamp(70px, 14vw, 120px);
    border-radius: 5px;
    object-fit: fill;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  /* Optional: spin effect */
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  #products .DemoHolder {
    width: 100%;
    margin: 2em 0 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #products .DemoHolder > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #products .DemoHolder > div h2 {
    color: var(--base-color);
  }

  #products .DemoHolder > div h4 {
    margin: 1em 0 1.5em;
    color: grey;
  }

  #products .DemoHolder > div button {
    background-color: var(--base-color);
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.8em 0;
    width: 100px;
    border-radius: 15px;
  }
}

@media (min-width: 375px) {
  #products .contentHolder p {
    margin: 1em 0 0 0;
  }
  .carousel img {
    width: 110px;
    height: 90px;
  }
}
@media (min-width: 420px) {
  .pipeline-title {
    font-size: 2em;
  }

  #products .contentHolder h2 {
    font-size: 1.5em;
  }

  #products .contentHolder p {
    font-size: 1em;
    margin: 2em 0 0 0;
  }
  .carousel img {
    width: 130px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .pipeline-main {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3em;
    min-height: auto;
  }
  .pipeline-card-wrapper {
    width: 60%;
  }
  .pipeline-card {
    width: 100%;
    padding: 2em;
    justify-content: flex-start;
  }

  .pipeline-tabs-container {
    width: 40%;
  }

  .pipeline-card h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: var(--primary-color);
  }

  .pipeline-card ul li {
    font-size: 0.8em;
  }
  .pipeline-card ul li p {
    font-size: 0.7em;
  }
  #products .implementHolder {
    padding: 2em;
  }

  #products .contentHolder p {
    margin: 1em 0 0;
  }

  .carousel {
    width: 300px;
    height: 300px;
  }

  .carousel img {
    width: 190px;
    height: 130px;
  }

  #products .contentHolder h2,
  #products .contentHolder p {
    text-align: center;
  }

  #products .DemoHolder {
    margin-bottom: 5em;
  }
}
@media (min-width: 1024px) {
  .pipeline-container .mainContainer {
    width: 80%;
  }

  .pipeline-title {
    font-size: 2.5em;
  }

  .pipeline-description {
    font-size: 1.2em;
  }

  .pipeline-card h2 {
    font-size: 1.2em;
  }

  .pipeline-card p {
    font-size: 0.85em;
  }

  .pipeline-tab {
    font-size: 1em;
  }

  .carousel {
    width: 400px;
    height: 400px;
  }

  .carousel img {
    width: 200px;
    height: 150px;
  }

  #products .contentHolder {
    width: 80%;
  }

  #products .contentHolder h2 {
    font-size: 2em;
  }

  #products .contentHolder p {
    font-size: 1.1em;
  }

  #products .DemoHolder > div h2 {
    font-size: 2em;
  }

  #products .DemoHolder > div h4 {
    font-size: 1.5em;
  }

  #products .DemoHolder > div button {
    font-size: 1.2em;
  }

  #products .DemoHolder {
    margin: 0 0 7em;
  }
}
@media (min-width: 1440px) {
  .pipeline-main {
    width: 90%;
  }
  .pipeline-container .mainContainer {
    width: 70%;
  }

  #products .imgHolder {
    width: 40%;
  }

  .carousel {
    width: 500px;
    height: 400px;
  }

  .carousel img {
    width: 280px;
    height: 180px;
  }
}
