@media (min-width: 320px) {
  #svg {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #svg .mainContainer {
    overflow: hidden;
    width: 100%;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #svg .mainContainer > div {
    width: 100%;
  }

  #svg .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 1em 0;
    background-color: var(--base-color);
  }

  #svg .headerContainer label {
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  #svg .svgContainer {
    width: 90%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #svg .svgContainer > div {
    width: 90%;
    margin-bottom: 2em;
  }

  #svg .svgContainer p {
    width: 90%;
    font-size: 0.9em;
    text-align: center;
  }

  #svg .svgContainer p:last-child {
    color: var(--base-color);
  }

  #svg .svgContainer p:first-child {
    color: gray;
  }

  #svg .svgContainer img {
    width: 100%;
    margin-bottom: 2em;
  }
  #svg .btnContainer {
    text-align: center;
  }
  #svg .btnContainer button {
    border: none;
    background-color: var(--base-color);
    padding: 0.5em 2em;
    color: white;

    border-radius: 10px;
  }
}

@media (min-width: 425px) {
  #svg .headerContainer label {
    font-size: 1.1em;
  }

  #svg .svgContainer {
    width: 100%;
  }

  #svg .svgContainer > div {
    width: 90%;
  }

  #svg .svgContainer p {
    font-size: 0.9em;
    width: 92%;
  }

  #svg .svgContainer img {
    width: 95%;
  }
}
@media (min-width: 768px) {
  #svg .mainContainer {
    width: 90%;
    overflow: visible;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: unset;
  }

  #svg .headerContainer {
    width: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: 1.2em;
  }

  #svg .headerContainer label {
    font-size: 1.3em;
  }

  #svg .svgContainer {
    width: 100%;
  }

  #svg .svgContainer img {
    width: 100%;
  }

  #svg .svgContainer p {
    font-size: 1em;
  }
  #svg .btnContainer button {
    padding: 0.8em 1.5em;
    font-size: 0.95em;
  }
}
@media (min-width: 1024px) {
  #svg {
    margin: 6.5em 0;
  }

  #svg .mainContainer {
    width: 65%;
  }

  #svg .headerContainer label {
    font-size: 1.5em;
  }

  #svg .svgContainer p {
    font-size: 1.2em;
  }
}
@media (min-width: 1440px) {
  #svg .btnContainer button {
    font-size: 1.1em;
  }
}
