#whyChooseUs .swiperContainer {
  position: relative; /* Add this to allow absolute positioning of nav */
  /* space for nav buttons on top */
}

#whyChooseUs .swiper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#whyChooseUs .swiper-wrapper {
  padding: 2em;
}

#whyChooseUs .swiper-slide {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  overflow: hidden;
}

#whyChooseUs .swiper-slide .container {
  position: relative;
}

#whyChooseUs .swiper-slide .container .shadow {
  padding: 10px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, rgba(255, 255, 255, 0.3));
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#whyChooseUs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#whyChooseUs .swiper-pagination {
  text-align: center;
  position: static;
  margin-top: 0;
  transform: translateX(0) !important;
}

#whyChooseUs .swiper-pagination-bullet {
  background-color: var(--base-color);
}

/* Custom navigation buttons on top inside circles */
#whyChooseUs .swiper-button-prev,
#whyChooseUs .swiper-button-next {
  top: 1.5em; /* Position at top */
  width: 40px; /* Circle size */
  height: 40px;
  background-color: var(--primary-color); /* Semi-transparent black */
  border-radius: 50%; /* Circle shape */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  position: absolute;
}

/* Remove default arrow icons */
#whyChooseUs .swiper-button-prev::after,
#whyChooseUs .swiper-button-next::after {
  content: "";
}

/* Left arrow icon */
#whyChooseUs .swiper-button-prev {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/></svg>");
}

/* Right arrow icon */
#whyChooseUs .swiper-button-next {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z'/></svg>");
}

#whyChooseUs .swiper-pagination {
  display: none !important;
}
