.rolling-counter {
  display: flex;
  gap: 0.2rem;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
}

.digit-wrapper {
  height: 1em;
  overflow: hidden;
  width: 0.6em;
  position: relative;
}

.digit-roller {
  display: flex;
  flex-direction: column;
  transition: transform 0.6s ease-in-out;
}

.digit {
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-char {
  width: 0.6em;
  text-align: center;
}

@media (min-width: 320px) {
  #counter {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  #counter .container {
    width: fit-content;
    padding: 6px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-items: center;
  }
  #counter .container h2 {
    white-space: nowrap;
    font-size: 0.7em;
    margin: 5px 0 2px 0;
    color: white !important;
  }
  #counter .container > div {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #counter svg {
    transform: translateY(-2px);
    color: rgb(206, 206, 206) !important;
    font-size: 0.5em !important;
  }
  #counter .container > div > section {
    margin: 0 !important;
  }
  #counter .container span {
    height: 20px !important;
    color: rgb(224, 224, 224) !important;
    font-size: 0.9em !important;
    background-color: none !important;
  }
}
@media (min-width: 375px) {
  #counter .container h2 {
    font-size: 0.85em;
    margin: 5px 0 5px 0;
  }
  #counter svg {
    font-size: 0.75em !important;
  }
  #counter .container > div > section {
    margin: 0 !important;
  }
  #counter .container span {
    font-size: 0.95em !important;
  }
}
@media (min-width: 425px) {
  #counter .container {
    padding: 0.5em 1.3em;
  }
  #counter .container h2 {
    font-size: 0.9em;
    margin: 6px 0 7px 0;
  }
  #counter svg {
    font-size: 0.75em !important;
  }
  #counter .container > div > section {
    margin: 0 !important;
  }
  #counter .container span {
    font-size: 1em !important;
  }
}
@media (min-width: 768px) {
  #counter .container {
    padding: 0.5em 2em;
  }
  #counter .container h2 {
    font-size: 1em;
    margin: 6px 0 7px 0;
  }
  #counter svg {
    font-size: 0.8em !important;
  }
  #counter .container > div > section {
    margin: 0 !important;
  }
  #counter .container span {
    height: 20px !important;
    font-size: 1em !important;
  }
}
@media (min-width: 1024px) {
  #counter {
    width: 45%;
    gap: 10px;
  }
  #counter .container {
    padding: 2em;
    outline: 1px solid rgba(212, 212, 212, 0.8);
    outline-offset: -20px;
  }
  #counter .container h2 {
    font-size: 2em;
    font-weight: 500;
    margin: 6px 0 2px 0;
  }
  #counter svg {
    font-size: 1em !important;
  }
  #counter .container > div > section {
    margin: 0 !important;
  }
  #counter .container span {
    height: 60px !important;
    font-size: 1.2em !important;
    width: 20px !important;
  }
}
@media (min-width: 1440px) {
  #counter {
    width: 40%;
    gap: 10px;
  }
  #counter .container {
    padding: 4em 2em;
  }
  #counter .container h2 {
    font-size: 2.2em;
    font-weight: 500;
    margin: 6px 0 10px 0;
  }
  #counter svg {
    font-size: 1em !important;
  }
  #counter .container > div > section {
    margin: 0 !important;
  }
  #counter .container span {
    height: 40px !important;
    font-size: 1.3em !important;
    width: 30px !important;
  }
}
