.switch-wrapper {
  position: relative;
  display: flex;
  width: 70%;
  border-radius: 15px;
  background-color: #eee;
  overflow: hidden;
  cursor: pointer;
}

.switch-wrapper p {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 0.85em;
  padding: 0.8em 0;
  z-index: 1;
  color: grey;
  transition: color 0.4s ease-in-out;
}

.switch-wrapper .active {
  color: #fff;
}

.switch-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 15px;
  transition: left 0.3s ease;
  z-index: 0;
}

.switch-bg.right {
  left: 50%;
}

@media (min-width: 320px) {
  #priceList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #priceList .mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .introHolder {
    width: 100%;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background-color: var(--base-color);
  }
  #priceList .introHolder > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #priceList .introHolder > div h2 {
    margin-bottom: 0.5em;
    color: white;
  }
  #priceList .introHolder > div p {
    text-align: center;
    color: rgb(215, 215, 215);
  }
  #priceList .introHolder img {
    width: 60%;
  }
  #priceList .pricingContainer {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #priceList .pricingContainer h2 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 1em;
    color: rgb(184, 184, 184);
  }
  #priceList .yearlyContainer {
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .yearlyContainer .cardsHolder {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .yearlyContainer .cardsHolder .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  #priceList .yearlyContainer .cardsHolder .card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 2em;
  }

  /*--------------- Customized Card Styling ---------*/
  #priceList .yearlyContainer .cardsHolder .card:first-child > div {
    background-color: rgb(232, 232, 232);
  }
  #priceList .yearlyContainer .cardsHolder .card:first-child h4 {
    color: var(--primary-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:first-child hr {
    background-color: var(--primary-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:first-child ul li {
    color: grey;
  }
  /*---------------------------------------------------*/
  /*--------------- Advanced Card Styling -------------*/
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) > div {
    background-color: var(--base-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) .reasonPart {
    color: rgb(231, 231, 231);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) hr,
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) hr {
    background-color: white;
  }
  /*---------------------------------------------------*/

  /*---------------- sharing Card Styling -------------*/
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) > div {
    background-color: var(--primary-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) .reasonPart {
    color: rgb(233, 233, 233);
  }
  /*---------------------------------------------------*/

  #priceList .yearlyContainer .cardsHolder h4 {
    text-align: center;
    margin-bottom: 0.8em;
    color: white;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em 0;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child {
    font-size: 2em;
    color: white;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart span,
  #priceList .yearlyContainer .cardsHolder .pricePart p {
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(228, 228, 228);
  }
  #priceList .yearlyContainer .cardsHolder .reasonPart {
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    color: rgb(100, 100, 100);
  }
  #priceList .yearlyContainer .cardsHolder hr {
    height: 2px;
    margin: 0.5em 0;
    width: 100%;
    border-radius: 15px;
    border: none;
  }
  #priceList .yearlyContainer .cardsHolder ul {
    list-style: none;
  }
  #priceList .yearlyContainer .cardsHolder ul div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #priceList .yearlyContainer .cardsHolder .card ul li {
    width: 90%;
    font-size: 0.8em;
    color: white;
  }
  #priceList .yearlyContainer .cardsHolder .card ul svg {
    color: #25d366;
    font-size: 1em;
    margin-top: 0.2em;
  }
  #priceList .yearlyContainer .cardsHolder .card .noteHolder {
    border-radius: 25px;
    width: 100%;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-align: center;
    padding: 1.5em 0;
    color: white;
  }

  #priceList .yearlyContainer .tableView {
    width: 100%;
    display: flex;
  }
}
@media (min-width: 375px) {
}
@media (min-width: 420px) {
}
@media (min-width: 768px) {
  #priceList .introHolder {
    padding: 3em;
    width: 95%;
    flex-direction: row;
    gap: 2em;
  }
  #priceList .introHolder > div {
    align-items: flex-start;
  }
  #priceList .introHolder > div h2 {
    font-size: 1.7em;
  }
  #priceList .introHolder > div p {
    font-size: 1.1em;
  }
  html[dir="ltr"] #priceList .introHolder > div p {
    text-align: left;
  }
  html[dir="rtl"] #priceList .introHolder > div p {
    text-align: right;
  }
  #priceList .introHolder img {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  #priceList .introHolder {
    padding: 3em 4em;
  }
  #priceList .introHolder > div {
    width: 50%;
  }
  #priceList .introHolder > div h2 {
    font-size: 2em;
  }
  #priceList .introHolder > div p {
    font-size: 1.3em;
    font-weight: lighter;
  }
  #priceList .introHolder img {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  #priceList .introHolder {
    padding: 3em 6em;
  }
  #priceList .introHolder > div {
    width: 55%;
  }
  #priceList .introHolder > div h2 {
    font-size: 2.5em;
  }
  #priceList .introHolder > div p {
    font-size: 2em;
    font-weight: lighter;
  }
}
