.switch-wrapper {
  position: relative;
  display: flex;
  width: 70%;
  border-radius: 15px;
  background-color: #eee;
  overflow: hidden;
  cursor: pointer;
}

.switch-wrapper p {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 0.85em;
  padding: 0.8em 0;
  z-index: 1;
  color: black;
  transition: color 0.4s ease-in-out;
}

.switch-wrapper .active {
  color: white;
}
html[dir="ltr"] .switch-bg {
  left: 0;
}
html[dir="rtl"] .switch-bg {
  right: 0;
}
.switch-bg {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: 0;
}

html[dir="ltr"] .switch-bg.right {
  left: 50%;
}
html[dir="rtl"] .switch-bg.right {
  right: 50%;
}

@media (min-width: 320px) {
  #priceList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10em;
  }
  #priceList .mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .introHolder {
    width: 100%;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background-color: var(--base-color);
  }
  #priceList .introHolder > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #priceList .introHolder > div h2 {
    margin-bottom: 0.5em;
    color: white;
  }
  #priceList .introHolder > div p {
    text-align: center;
    color: rgb(215, 215, 215);
  }
  #priceList .introHolder img {
    width: 60%;
  }

  #priceList .pricingContainer {
    margin: 4em 0;
  }

  #priceList .pricingContainer,
  #priceList .marketContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #priceList .pricingContainer h2,
  #priceList .marketContainer h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1em;
    width: 85%;
    color: rgb(184, 184, 184);
  }
  #priceList .yearlyContainer,
  #priceList .monthlyContainer,
  #priceList .marketContainer .marketContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .yearlyContainer,
  #priceList .monthlyContainer {
    margin-top: 3em;
  }
  #priceList .yearlyContainer,
  #priceList .monthlyContainer {
    width: 100%;
  }

  #priceList .yearlyContainer .cardsHolder,
  #priceList .monthlyContainer .cardsHolder,
  #priceList .marketContainer .cardsHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .yearlyContainer .cardsHolder .card,
  #priceList .monthlyContainer .cardsHolder .card,
  #priceList .marketContainer .cardsHolder .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  #priceList .yearlyContainer .cardsHolder .card > div,
  #priceList .monthlyContainer .cardsHolder .card,
  #priceList .marketContainer .cardsHolder .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    padding: 2em;
  }

  /*--------------- Customized Card Styling ---------*/
  #priceList .yearlyContainer .cardsHolder .card:first-child > div,
  #priceList .marketContainer .cardsHolder .card {
    background-color: var(--very-light-gray);
  }

  #priceList .yearlyContainer .cardsHolder .card:first-child h4,
  #priceList .marketContainer .cardsHolder .card h4 {
    color: var(--primary-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:first-child hr,
  #priceList .marketContainer .cardsHolder .card hr {
    background-color: var(--primary-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:first-child ul li,
  #priceList .marketContainer .cardsHolder .card ul li {
    color: grey;
  }
  /*---------------------------------------------------*/
  /*--------------- Advanced Card Styling -------------*/
  /*------------------- Monthly--------*/
  #priceList .monthlyContainer .cardsHolder .card:first-child {
    background-color: var(--base-color);
  }
  /*------------------- Yearly --------*/
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) > div {
    background-color: var(--base-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) .reasonPart,
  #priceList .monthlyContainer .cardsHolder .card .reasonPart {
    color: rgb(231, 231, 231);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) hr,
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) hr,
  #priceList .monthlyContainer .cardsHolder .card:nth-child(1) hr,
  #priceList .monthlyContainer .cardsHolder .card:nth-child(2) hr {
    background-color: white;
  }
  /*---------------------------------------------------*/
  /*------------------- Basic Montly Stryling ----------*/
  /*------------------- Monthly--------*/
  #priceList .monthlyContainer .cardsHolder .card:last-child {
    background-color: var(--primary-color);
  }
  #priceList .monthlyContainer .cardsHolder .card .featureHolder {
    margin: 1.2em 0;
    width: 100%;
  }
  #priceList .monthlyContainer .cardsHolder .card .featureHolder h4 {
    font-size: 0.8em;
  }
  html[dir="ltr"]
    #priceList
    .monthlyContainer
    .cardsHolder
    .card
    .featureHolder
    h4 {
    text-align: left;
  }
  html[dir="rtl"]
    #priceList
    .monthlyContainer
    .cardsHolder
    .card
    .featureHolder
    h4 {
    text-align: right;
  }
  /*---------------------------------------------*/
  /*---------------- sharing Card Styling -------------*/
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) > div {
    background-color: var(--primary-color);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) .reasonPart {
    color: rgb(233, 233, 233);
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) ul li,
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) ul li,
  #priceList .monthlyContainer .cardsHolder .card:nth-child(1) ul li,
  #priceList .monthlyContainer .cardsHolder .card:nth-child(2) ul li {
    color: white;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .monthlyContainer .cardsHolder .pricePart > div:first-child {
    color: white;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart span,
  #priceList .yearlyContainer .cardsHolder .pricePart p,
  #priceList .monthlyContainer .cardsHolder .pricePart span,
  #priceList .monthlyContainer .cardsHolder .pricePart p {
    color: rgb(228, 228, 228);
  }
  /*---------------------------------------------------*/

  #priceList .yearlyContainer .cardsHolder h4,
  #priceList .monthlyContainer .cardsHolder h4,
  #priceList .marketContainer .cardsHolder h4 {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 0.8em;
    color: white;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart,
  #priceList .monthlyContainer .cardsHolder .pricePart,
  #priceList .marketContainer .cardsHolder .pricePart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em 0;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .monthlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .marketContainer .cardsHolder .pricePart > div:first-child {
    font-size: 2em;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart span,
  #priceList .yearlyContainer .cardsHolder .pricePart p,
  #priceList .monthlyContainer .cardsHolder .pricePart span,
  #priceList .monthlyContainer .cardsHolder .pricePart p,
  #priceList .marketContainer .cardsHolder .pricePart span,
  #priceList .marketContainer .cardsHolder .pricePart p {
    font-size: 0.7em;
    font-weight: bold;
  }

  #priceList .yearlyContainer .cardsHolder .reasonPart,
  #priceList .monthlyContainer .cardsHolder .reasonPart,
  #priceList .marketContainer .cardsHolder .reasonPart {
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    color: rgb(100, 100, 100);
  }
  #priceList .yearlyContainer .cardsHolder hr,
  #priceList .monthlyContainer .cardsHolder hr,
  #priceList .marketContainer .cardsHolder hr {
    height: 1px;
    margin: 0.5em 0;
    width: 100%;
    border-radius: 15px;
    border: none;
  }
  #priceList .yearlyContainer .cardsHolder ul,
  #priceList .monthlyContainer .cardsHolder ul,
  #priceList .marketContainer .cardsHolder ul {
    width: 100%;
    list-style: none;
  }
  #priceList .yearlyContainer .cardsHolder .card ul span,
  #priceList .monthlyContainer .cardsHolder .card ul span,
  #priceList .marketContainer .cardsHolder .card ul span {
    width: 100%;
  }
  #priceList .yearlyContainer .cardsHolder ul div,
  #priceList .monthlyContainer .cardsHolder ul div,
  #priceList .marketContainer .cardsHolder ul div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  #priceList .yearlyContainer .cardsHolder .card ul li,
  #priceList .monthlyContainer .cardsHolder .card ul li,
  #priceList .marketContainer .cardsHolder .card ul li {
    width: 90%;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
  #priceList .yearlyContainer .cardsHolder .card ul svg,
  #priceList .monthlyContainer .cardsHolder .card ul svg,
  #priceList .marketContainer .cardsHolder .card ul svg {
    color: #25d366;
    font-size: 1em;
    margin-top: 0.2em;
  }
  #priceList .yearlyContainer .cardsHolder .card .noteHolder {
    border-radius: 25px;
    width: 100%;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-align: center;
    padding: 1.5em 0;
    color: white;
  }

  #priceList .marketContainer .cardsHolder .pricePart > div:first-child {
    color: black;
  }
  #priceList .marketContainer .cardsHolder .pricePart span,
  #priceList .marketContainer .cardsHolder .pricePart p {
    color: black;
  }

  #priceList .marketContainer .cardsHolder {
    margin: 2em 0 1em;
    width: 100%;
  }
  #priceList .marketContainer .cardsHolder h3 {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  #priceList .marketContainer .cardsHolder .subContainer {
    width: 100%;
  }
  .tableView {
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .tableRow {
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .tableView .tableRow:first-child .cell {
    font-weight: bold;
    font-size: 0.9em;
    color: black;
  }

  .tableRow.odd {
    background-color: rgba(37, 176, 171, 0.08);
    color: black;
  }

  .cell {
    flex: 1;
    text-align: center;
    font-size: 0.75em;
    padding: 10px 12px;
    font-weight: 500;
  }

  /* Text colors for specific columns */
  .cell.header {
    font-weight: bold;
    color: inherit;
  }

  .cell.advanced {
    color: grey;
  }

  .cell.basic {
    color: grey;
  }

  /* Icon colors */
  .icon {
    font-size: 18px;
  }

  .icon svg {
    vertical-align: middle;
  }

  /* Color icons dynamically */
  .icon :global(svg) {
    color: inherit;
  }

  .icon.fa-check {
    color: #25d366;
  }

  .icon.fa-times,
  .icon.fa-xmark {
    color: red;
  }
  #priceList .contractPolicy {
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #priceList .contractPolicy .policyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 90%;
    background-color: var(--primary-color);
  }
  #priceList .contractPolicy .bundles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  #priceList .contractPolicy .bundles h3 {
    margin: 1.2em 0 1em;
    color: white;
    font-size: 1em;
  }
  #priceList .contractPolicy .bundles:first-child h3 {
    margin-top: 0;
  }
  #priceList .contractPolicy ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
  #priceList .contractPolicy ul li {
    width: 100%;
    color: rgb(233, 233, 233);
    font-weight: lighter;
    font-size: 0.8em;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  #priceList .contractPolicy ul li span {
    width: 100%;
  }
  #priceList .contractPolicy ul li svg {
    margin-top: 3px;
    color: #25d366;
  }
}
@media (min-width: 375px) {
  .cell {
    font-size: 0.8em;
  }
}
@media (min-width: 420px) {
  #priceList .pricingContainer h2 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }

  #priceList .yearlyContainer .cardsHolder .card > div,
  #priceList .monthlyContainer .cardsHolder .card,
  #priceList .marketContainer .cardsHolder .card {
    padding: 2.5em 3em;
    width: 100%;
  }
  #priceList .yearlyContainer .cardsHolder .card ul li {
    font-size: 0.85em;
  }
  #priceList .yearlyContainer .cardsHolder .card .noteHolder {
    font-size: 0.8em;
  }

  .cell {
    font-size: 0.85em;
  }
}
@media (min-width: 768px) {
  #priceList .introHolder {
    padding: 3em;
    width: 95%;
    flex-direction: row;
    gap: 2em;
  }

  #priceList .introHolder > div {
    align-items: flex-start;
  }
  #priceList .introHolder > div h2 {
    font-size: 1.7em;
  }
  #priceList .introHolder > div p {
    font-size: 1.1em;
  }
  html[dir="ltr"] #priceList .introHolder > div p {
    text-align: left;
  }
  html[dir="rtl"] #priceList .introHolder > div p {
    text-align: right;
  }
  #priceList .introHolder img {
    width: 40%;
  }

  #priceList .yearlyContainer .cardsHolde,
  #priceList .pricingContainer .cardsHolder {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 0.5em;
  }
  #priceList .yearlyContainer .cardsHolder .card {
    flex: 1;
  }
  #priceList .yearlyContainer .cardsHolder .card > div {
    padding: 1.5em;
  }
  .switch-wrapper {
    width: 35%;
  }
  #priceList .marketContainer .subContainer {
    display: flex;
    gap: 10px;
  }
  #priceList .yearlyContainer .cardsHolder .card > div,
  #priceList .monthlyContainer .cardsHolder .card,
  #priceList .marketContainer .cardsHolder .card {
    padding: 2em 1.5em;
    height: fit-content;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .monthlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .marketContainer .cardsHolder .pricePart > div:first-child {
    font-size: 1.5em;
  }
  #priceList .yearlyContainer .cardsHolder h4,
  #priceList .monthlyContainer .cardsHolder h4,
  #priceList .marketContainer .cardsHolder h4 {
    font-size: 1em;
  }
  #priceList .contractPolicy .bundles h3 {
    font-size: 1.1em;
  }
  #priceList .contractPolicy ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
  #priceList .contractPolicy ul li {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .cell {
    font-size: 1em;
  }
  #priceList .monthlyContainer .cardsHolder {
    width: 85%;
  }
  .servicesList li .text p {
    font-size: 0.9em;
  }
  #priceList .introHolder {
    padding: 3em 4em;
  }
  #priceList .introHolder > div {
    width: 50%;
  }
  #priceList .introHolder > div h2 {
    font-size: 2em;
  }
  #priceList .introHolder > div p {
    font-size: 1.3em;
    font-weight: lighter;
  }
  #priceList .introHolder img {
    width: 35%;
  }

  #priceList .yearlyContainer .cardsHolder h4 {
    font-size: 1.5em;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child {
    font-size: 2.1em;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart span,
  #priceList .yearlyContainer .cardsHolder .pricePart p {
    font-size: 0.8em;
  }
  #priceList .yearlyContainer .cardsHolder .reasonPart {
    font-size: 0.75em;
  }

  #priceList .yearlyContainer .cardsHolder .card ul li {
    font-size: 0.9em;
  }
  #priceList .yearlyContainer .cardsHolder .card ul svg {
    font-size: 1em;
  }
  #priceList .yearlyContainer .cardsHolder .card .noteHolder {
    font-size: 0.85em;
  }
  #priceList .yearlyContainer .cardsHolde,
  #priceList .pricingContainer .cardsHolder {
    gap: 1.2em;
  }
  #priceList .yearlyContainer .cardsHolder h4,
  #priceList .monthlyContainer .cardsHolder h4 {
    font-size: 1.7em;
  }
  #priceList .marketContainer .cardsHolder h4 {
    font-size: 1.3em;
  }
  #priceList .yearlyContainer .cardsHolder .card ul li,
  #priceList .monthlyContainer .cardsHolder .card ul li {
    font-size: 1em;
    font-weight: lighter;
  }
  #priceList .marketContainer .cardsHolder .card ul li {
    font-size: 0.9em;
  }
  #priceList .monthlyContainer .cardsHolder .card .featureHolder h4 {
    font-size: 1.2em;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .monthlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .marketContainer .cardsHolder .pricePart > div:first-child {
    font-size: 2em;
  }
  #priceList .yearlyContainer .cardsHolder .card > div,
  #priceList .monthlyContainer .cardsHolder .card,
  #priceList .marketContainer .cardsHolder .card {
    padding: 3em 2em;
  }
  #priceList .pricingContainer h2,
  #priceList .marketContainer h2 {
    font-size: 2em;
  }
  .switch-wrapper p {
    font-size: 1em;
  }
  #priceList .marketContainer .cardsHolder h3 {
    font-size: 1.5em;
  }
  .tableView .tableRow:first-child .cell {
    font-size: 1.2em;
  }
  #priceList .contractPolicy ul li {
    font-size: 0.85em;
  }
}
@media (min-width: 1440px) {
  #priceList .introHolder {
    padding: 3em 6em;
  }
  #priceList .introHolder > div {
    width: 55%;
  }
  #priceList .introHolder > div h2 {
    font-size: 2.5em;
  }
  #priceList .introHolder > div p {
    font-size: 2em;
    font-weight: lighter;
  }
  .switch-wrapper {
    width: 25%;
  }
  #priceList .yearlyContainer .cardsHolder {
    width: 100%;
  }
  #priceList .monthlyContainer .cardsHolder {
    width: 75%;
  }
  #priceList .yearlyContainer .cardsHolder h4,
  #priceList .monthlyContainer .cardsHolder h4 {
    font-size: 2em;
  }
  #priceList .yearlyContainer .cardsHolder .card > div,
  #priceList .monthlyContainer .cardsHolder .card,
  #priceList .marketContainer .cardsHolder .card {
    padding: 3em;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart span,
  #priceList .yearlyContainer .cardsHolder .pricePart p,
  #priceList .monthlyContainer .cardsHolder .pricePart span,
  #priceList .monthlyContainer .cardsHolder .pricePart p,
  #priceList .marketContainer .cardsHolder .pricePart span,
  #priceList .marketContainer .cardsHolder .pricePart p {
    font-size: 1em;
  }
  #priceList .yearlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .monthlyContainer .cardsHolder .pricePart > div:first-child,
  #priceList .marketContainer .cardsHolder .pricePart > div:first-child {
    font-size: 2.5em;
  }
  #priceList .yearlyContainer .cardsHolder .card:nth-child(2) ul li,
  #priceList .yearlyContainer .cardsHolder .card:nth-child(3) ul li,
  #priceList .monthlyContainer .cardsHolder .card:nth-child(1) ul li,
  #priceList .monthlyContainer .cardsHolder .card:nth-child(2) ul li,
  #priceList .marketContainer .cardsHolder .card ul li {
    font-size: 1.1em;
  }
  #priceList .yearlyContainer .cardsHolder .reasonPart,
  #priceList .monthlyContainer .cardsHolder .reasonPart,
  #priceList .marketContainer .cardsHolder .reasonPart {
    font-size: 0.85em;
  }
  .tableView .tableRow:first-child .cell {
    font-size: 1.4em;
  }
  .cell {
    font-size: 1.2em;
  }
  #priceList .contractPolicy ul li {
    font-size: 1em;
  }
  #priceList .contractPolicy .bundles h3 {
    font-size: 1.5em;
  }
}
