html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

button {
  white-space: nowrap;
}

@media (min-width: 320px) {
  .App .pagesHolder {
    margin-top: 70px;
  }
}
@media (min-width: 375px) {
}
@media (min-width: 420px) {
  .App .pagesHolder {
    margin-top: 75px;
  }
}
@media (min-width: 768px) {
  .App .pagesHolder {
    margin-top: 95px;
  }
}
@media (min-width: 1024px) {
  .App .pagesHolder {
  }
}
@media (min-width: 1440px) {
  .App .pagesHolder {
    margin-top: 135px;
  }
}
