/* Reset and Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
html {
  scroll-padding-top: 245px; /* height of your fixed navbar */
}

p,
h2,
h3 {
  line-height: 1.4em;
}

/* CSS Variables */
:root {
  --alt-font: "cerebri-sans";
  --primary-font: "cerebri-sans";
  --primary-color: #642364;
  --base-color: #25b0ab;
  --dark-gray: #1e3238;
  --very-light-gray: #eceff1;
  --yellow: #ecab23;
  --medium-gray: #7c898d;
  --solitude-blue: #f4f7f9;
}

/* Font Face */
@font-face {
  font-family: "cerebri-sans";
  src: url("./assets/fonts/IBMPlexSansArabic-Medium.ttf");
}

/* Utility Classes */
.hoverEffect {
  cursor: pointer;
}
